<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>OnlyOffice</title>
</head>
<body>
<div style="margin-left: 100px;">
	<h1>OnlyOffice在线预览/编辑文档</h1>
	<h2>当前请求协议 <span style="color: red;">{{scheme}}</span></h2>
	<h3>请输入参数src 示例:</h3>
	<ul>
	<li><strong>预览模式-&gt; <code>{{scheme}}://office.fynn.vip/view.html?src={$src}</code></strong></li>
	<li><strong>编辑模式-&gt; <code>{{scheme}}://office.fynn.vip/edit.html?src={$src}</code></strong></li>
	<li><strong>请求协议http和https都支持，请根据自己的网站设置同源协议</strong></li>
	<li><strong>src参数配置请根据自己的网站参数配置配置接口 {$src}是网站提供的变量</strong></li>
	</ul>
	<h2>欢迎访问我的 <a href="https://blog.fynn.vip">博客</a> <a href="https://www.fynn.vip/">上网导航</a></h2>
</div>

<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?b1f384b376f74d36ba2cc31e8c26d414";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
</body>
</html>